<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\Temp\Log\NLog.log" >

  <extension>

    <add assembly="NLog.Web.AspNetCore" />
  </extension>

  <targets>
    <target name="console" xsi:type="Console" />
    <target  xsi:type="File"  name="all_logs" fileName="c:\Temp\Log\all-${shortdate}.log"
    layout=" ${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true}| ${logger} | ${message}${exception:format=tostring}  | ${args "/>
    
    <target  xsi:type="File" name="info_logs" fileName="c:\Temp\Log\info-${shortdate}.log"
             layout=" ${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true}| ${logger} | ${message}${exception:format=tostring}  | ${args} "/>
    <target  xsi:type="File"  name="warning_logs"  fileName="c:\Temp\Log\warning-${shortdate}.log" 
             layout=" ${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true}| ${logger} | ${message}${exception:format=tostring}  | ${args} "/>
    <target  xsi:type="File"  name="error_logs"  fileName="c:\Temp\Log\error-${shortdate}.log"
             layout=" ${longdate}| ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true} | ${logger} | ${message}${exception:format=tostring} | ${args}"/>
    
    <layout xsi:type="JsonLayout" includeEventProperties="true">
      <attribute name="time" layout="${longdate}" />
      <attribute name="event" layout="${event-properties:item=EventId:whenEmpty=0}"/>
      <attribute name="level" layout="${level:upperCase=true}"/>
      <attribute name="logger" layout="${logger}"/>
      <attribute name="message" layout="${message}" />
      <attribute name="exception" layout="${exception:format=tostring}"/>
      <attribute name="url" layout="${aspnet-request-url}" />
      <attribute name="action" layout="${aspnet-mvc-action}" />
    </layout>


  </targets>
   
  
  <rules>
   
    <logger name="*" minlevel="Debug"  writeTo="all_logs" />
    <logger name="*" minlevel="Info" writeTo="info_logs" />
    <logger name="*" minlevel="Warn" writeTo="warning_logs" />
    <logger name="*" minlevel="Error" writeTo="error_logs" />

    <logger name="*" levels="Info,Error" writeTo="console" />
  </rules>
  
  
</nlog>