@page "/Autoridad"

@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
    <!--Navegacion-->
    <div class="d-flex justify-content-center align-items-center">
        <h3 class="fs-2 font-weight mt-4 mb-4">
            <p>Entidad:</p>
        </h3>
    </div>
    <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" disabled href="/Entidad">Entidad</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/EstadoContable">Estado</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Libros">Libros</a>
        </li>
        <li class="nav-item" active disabled>
            <a class="nav-link" href="/Contador">Contador</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Autoridad">Autoridad</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Integrante">Integrante</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Archivos">Archivos</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Confirmacion">Confirmación DJ</a>
        </li>
    </ul>


    <!---------------------------------------------------------------->


    <div class="container mt-4">
        <div class="card">

            <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                Datos de la Autoridad
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputApellido">Apellido</label>
                            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="selectTipoDocumento">Tipo de Documento</label>
                            <select id="selectTipoDocumento" class="form-control">
                                <option selected>Seleccionar...</option>
                                <!-- Opciones de tipo de documento aquí -->
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputNumeroDocumento">Número de Documento</label>
                            <input type="text" class="form-control" id="inputNumeroDocumento" placeholder="Número de Documento">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputNumeroFiscal">Número de Identificación Fiscal</label>
                            <input type="text" class="form-control" id="inputNumeroFiscal" placeholder="Número de Identificación Fiscal">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCargo">Cargo</label>
                            <input type="text" class="form-control" id="inputCargo" placeholder="Cargo">
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxFirmante">
                        <label class="form-check-label" for="checkboxFirmante">Es Firmante</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                Autoridades
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputApellidoNombre">Apellido y Nombre</label>
                            <input type="text" class="form-control" id="inputApellidoNombre" placeholder="Apellido y Nombre">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputNroDocumento">Nro Documento</label>
                            <input type="text" class="form-control" id="inputNroDocumento" placeholder="Nro Documento">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputCUIT">CUIT</label>
                            <input type="text" class="form-control" id="inputCUIT" placeholder="CUIT">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputCargo">Cargo</label>
                            <input type="text" class="form-control" id="inputCargo" placeholder="Cargo">
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxFirma">
                        <label class="form-check-label" for="checkboxFirma">FIRMA</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
   

</body>

</html>




@code {

}
