@page "/Confirmacion"
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!--Navegacion-->
    <div class="d-flex justify-content-center align-items-center">
        <h3 class="fs-2 font-weight mt-4 mb-4">
            <p>Entidad:</p>
        </h3>
    </div>
   <Navegacion></Navegacion>


    <!---------------------------------------------------------------->
    <div id="app" v-if="Ok">
        <div v-if="loading" style="min-height: 500px;margin-top: 100px;margin-left: 500px;">
            <img src="/1487.gif" alt="Logo">
        </div>
        <div v-else>
            <!-- Render PDF -->
        </div>
    </div>

    <div v-else>
        <ul class="list-group" v-for="error in errores">
            <li class="list-group-item" style="color: red;">{{ error }}</li>
        </ul>
    </div>

   
</body>



</html>

@code {

}
