@page "/Contador"
@using Balances.Web.Services.Implementation;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IContadorService contadorService


@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Contador Certificante</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!--Navegacion-->
    <div class="d-flex justify-content-center align-items-center">
        <h3 class="fs-2 font-weight mt-4 mb-4">
            <p>Entidad:</p>
        </h3>
    </div>
    <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" disabled href="/Entidad">Entidad</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/EstadoContable">Estado</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Libros">Libros</a>
        </li>
        <li class="nav-item active disabled">
            <a class="nav-link" href="/Contador">Contador</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Autoridad">Autoridad</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Integrante">Integrante</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Archivos">Archivos</a>
        </li>
        <li class="nav-item" disabled>
            <a class="nav-link" href="/Confirmacion">Confirmación DJ</a>
        </li>
    </ul>

    <div class="container mt-2 d-flex justify-content-center">
        <form id="formContador" class="mt-2" onsubmit="handleSubmit(event)" oninput="handleChange(event)">
            <div class="card" style="width: 600px;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #0375bc; font-weight: bold; text-align: center;">
                        Datos del Contador Certificante
                    </h5>
                    <div>
                        <div class="form-group">
                            <label for="contadorNombre">Nombre</label>
                            <input type="text" class="form-control" id="contadorNombre" :value="form.nombre" oninput="handleChange(event)" required @bind="nombre">
                        </div>

                        <div class="form-group">
                            <label for="ContadorApellido">Apellido</label>
                            <input type="text" class="form-control" id="ContadorApellido" :value="form.apellido" oninput="handleChange(event)" required @bind="apellido">
                        </div>

                        <div class="form-group">
                            <label for="tipoDocumento">Tipo de Documento</label>
                             <select class="form-control" @bind="tipoDoc">
                                <option value="DNI">DNI</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Cédula">Cédula</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="contadorNroDocumento">Número de Documento</label>
                            <input type="text" class="form-control" id="contadorNroDocumento" :value="form.nroDocumento" oninput="handleChange(event)" required @bind="nroDoc">
                        </div>

                        <div class="form-group">
                            <label for="contadorNuFiscal">Nro. de Identificación Fiscal</label>
                            <input type="number" class="form-control" id="contadorNuFiscal" :value="form.nroFiscal" oninput="handleChange(event)" required @bind="nroFiscal">
                        </div>

                        <div class="form-group">
                            <label for="tomo">Tomo</label>
                            <input type="text" class="form-control" id="tomo" :value="form.tomo" oninput="handleChange(event)" required @bind="tomo">
                        </div>

                        <div class="form-group">
                            <label for="folio">Folio</label>
                            <input type="text" class="form-control" id="folio" :value="form.folio" oninput="handleChange(event)" required @bind="folio">
                        </div>

                        <div class="form-group">
                            <label for="feInformeAuditorExt">Fecha del Informe del Auditor Externo</label>
                            <input type="date" class="form-control" id="feInformeAuditorExt" :value="form.fechaInformeAuditorExt" oninput="handleChange(event)" required @bind="fechaInformeAuditorExt">
                        </div>

                        <div class="form-group">
                            <label for="nroLegalInfoAudExt">Nro. de Legalización del Informe del Auditor Externo</label>
                            <input type="text" class="form-control" id="nroLegalInfoAudExt" :value="form.nroLegalInfoAudExt" oninput="handleChange(event)" required @bind="nroLegalInfoAudExt">
                        </div>
                       

                    </div>
                    <!-- Resto del formulario -->
                </div>
            </div>
        </form>
    </div>
  

</body>

</html>


@code {

    private const string KEY_SESSION = "idSession";
    private string nombre;
    private string apellido;
    private string tipoDoc;
    private string nroDoc;
    private string nroFiscal;
    private string tomo;
    private string folio;
    private DateTime fechaInformeAuditorExt;
    private string nroLegalInfoAudExt;



    protected override async Task OnInitializedAsync()
    {

        fechaInformeAuditorExt = DateTime.Now;

        var idBalance = await sessionStorage.GetItemAsync<string>(KEY_SESSION);

        if (idBalance != null && nombre != null)
        {

            await postContador();
            await getContador(idBalance);
            
        }


        await base.OnInitializedAsync();
    }
    private async Task getContador(string idBalance)
    {
        var response = await contadorService.getBalance(idBalance);
        try
        {
            if (response.IsSuccess)
            {
                nombre = response.Result.Contador.Nombre; 
                tipoDoc = response.Result.Contador.TipoDocumento;
                nroDoc = response.Result.Contador.NroDocumento;
                nroFiscal = response.Result.Contador.NroFiscal;
                tomo = response.Result.Contador.Tomo;
                folio = response.Result.Contador.Folio;
                nroLegalInfoAudExt = response.Result.Contador.NroLegalInfoAudExt;
            }


            StateHasChanged();



        }
        catch (Exception ex)
        {

            Console.WriteLine($"Hubo un problema con la solicitud fetch: {ex.Message}");
        }
    }




    private async Task postContador()
    {
        var idBalance = await sessionStorage.GetItemAsync<string>(KEY_SESSION);

        await contadorService.setSession(idBalance);

        Console.WriteLine("PostIdBalance", idBalance);

        var response = await contadorService.postContador(idBalance, nombre, tipoDoc, nroDoc, nroFiscal, tomo, folio, fechaInformeAuditorExt, nroLegalInfoAudExt);

        try
        {
            if (response.IsSuccess)
            {
                Console.WriteLine("Contador" + response.Result);
            }
            else
            {
                Console.WriteLine("Contado" + response.Message);

            }
        }
        catch (Exception ex)
        {
            
            Console.WriteLine("Error" + ex.Message);
        }

    }


}
