<h3>ContinuarCarga</h3>
@page "/ContinuarCarga/{balid}"
@using Balances.Web.Services.Implementation;
@using Org.BouncyCastle.Asn1.Ocsp;
@inject NavigationManager NavigationManager
@inject ICaratulaService caratulaService
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<h3>No se encontró el id de Balance</h3>

@code {
    [Parameter]
    public string balid { get; set; }

    protected override async void OnInitialized()
    {
        /*cargar la caratula*/

      
        var rlt = await caratulaService.loadCaratula(balid);

        if (rlt.IsSuccess)
        {/*redireccionar al inicio de la carga*/
            NavigationManager.NavigateTo($"Caratula");
        }
     

        //Else a una pagina de error
    }

    private async Task<string> GetSessionValue(string key)
    {
        return await SessionStorage.GetItemAsync<string>(key);
    }

}
