@page "/ContinuarCarga/{balid}"
@inject NavigationManager NavigationManager
@using Balances.Web.Services.Contracts;

@inject IBalanceClientService balanceService
@inject IBaseSessionClientService sesionService

<h3 class="d-flex justify-content-center">@message</h3>

@code {
    [Parameter]
    public string balid { get; set; }

    private string? message;

    protected override async void OnInitialized()
    {
        /*cargar la caratula*/

        message = "Cargando...";

        var rlt = await sesionService.setSession(balid);

        if (rlt.IsSuccess)
        {/*redireccionar al inicio de la carga*/
            NavigationManager.NavigateTo($"Caratula/{balid}");
        }
        else {
            message = "Hubo algun error";
        }

    }



}
