@page "/EstadoContable"
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Contable</title>
    <!-- Agrega los enlaces a los estilos de Bootstrap y otros recursos aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!--Navegacion-->
    <div class="d-flex justify-content-center align-items-center">
        <h3 class="fs-2 font-weight mt-4 mb-4">
            <p>Entidad:</p>
        </h3>
    </div>
    <Navegacion></Navegacion>

   

    "cajaYBancos": 0,
    "inversionesActivoCorriente": 0,
    "bienesDeCambio": 0,
    "activoCorrienteRestante": 0,
    "activoCorriente": 0,
    "bienesDeUso": 0,
    "propiedadesDeInversion": 0,
    "inversionesActivoNoCorriente": 0,
    "activoNoCorrienteRestante": 0,
    "activoNoCorriente": 0,
    "totalActivo": 0,
    "deudorPasivoCorriente": 0,
    "pasivoCorriente": 0,
    "deudorPasivoNoCorriente": 0,
    "pasivoNoCorriente": 0,
    "totalPasivo": 0,
    "patrimonioNeto": 0,
    "capitalSuscripto": 0,
    "ajusteCapital": 0,
    "aportesIrrevocables": 0,
    "primaEmision": 0,
    "gananciasReservadas": 0,
    "perdidasAcumuladas": 0,
    "gananciasPerdidasEjercicio": 0,
    "reservaLegal": 0,
    <!---------------------------------------------------------------->
    <div class="container mt-4">
        <h2 class="text-center">Estado Contable</h2>
        <form>
            <!-- Período -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Período</h5>
                    <div class="form-group">
                        <label for="tipoDebalance">Tipo de balance</label>
                        <input type="text" class="form-control" id="fechaInicio" placeholder="Fecha de Inicio">
                    </div>
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de Inicio</label>
                        <input type="text" class="form-control" id="fechaInicio" placeholder="Fecha Estado">
                    </div>
                    <div class="form-group">
                        <label for="fechaEstado">Fecha de Cierre</label>
                        <input type="text" class="form-control" id="fechaEstado" placeholder="Fecha Reunion Directorio">
                    </div>
                    <div class="form-group">
                        <label for="fechaEstado">Fecha de Cierre</label>
                        <input type="text" class="form-control" id="fechaEstado" placeholder="Fecha Asamblea">
                    </div>
                </div>
            </div>

            <!-- Aprobado por -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Aprobado por</h5>
                    <div class="form-group">
                        <label for="fechaReunionDirectorio">Fecha de Acta de Renión de Autoridades</label>
                        <input type="text" class="form-control" id="fechaReunionDirectorio" placeholder="Fecha de Acta de Renión de Autoridades">
                    </div>
                    <div class="form-group">
                        <label for="fechaAsamblea">Fecha de Acta de Reunión de Socios</label>
                        <input type="text" class="form-control" id="fechaAsamblea" placeholder="Fecha de Acta de Reunión de Socios">
                    </div>
                </div>
            </div>

            <!-- Rubros del Balance -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Rubros del Balance</h5>
                    <!-- Repite esta estructura para otros campos -->
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="bienesDeCambio">Bienes de Cambio</label>
                        <input type="text" class="form-control" id="bienesDeCambio" placeholder="Bienes de Cambio">
                    </div>
                    <div class="form-group">
                        <label for="activoCorriente">Activo Corriente</label>
                        <input type="text" class="form-control" id="activoCorriente" placeholder="Activo Corrientee">
                    </div>
                    <div class="form-group">
                        <label for="bienesDeUso">Bienes de Uso</label>
                        <input type="text" class="form-control" id="bienesDeUso" placeholder="Bienes de Uso">
                    </div>
                    <div class="form-group">
                        <label for="propiedadesDeInversion">Inversiones Activo No Corriente</label>
                        <input type="text" class="form-control" id="propiedadesDeInversion" placeholder="Inversiones Activo No Corriente">
                    </div>
                    <div class="form-group">
                        <label for="activoNoCorrienteRestante">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="activoNoCorrienteRestante" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                    <div class="form-group">
                        <label for="inversionesActivoCorriente">Inversiones Activo Corriente</label>
                        <input type="text" class="form-control" id="inversionesActivoCorriente" placeholder="Inversiones Activo Corriente">
                    </div>
                </div>
            </div>

            <!-- Rubros del Patrimonio Neto -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Rubros del Patrimonio Neto</h5>
                    <!-- Repite esta estructura para otros campos -->
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Datos Adicionales</h5>
                    <!-- Repite esta estructura para otros campos -->
                    <div class="form-group">
                        <h5 class="card-title">
                            Otros Rubros del Patrimonio Neto
                        </h5>

                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <div class="form-group">
                        <label for="capitalSuscripto">Capital Suscripto</label>
                        <input type="text" class="form-control" id="capitalSuscripto" placeholder="Capital Suscripto">
                    </div>
                    <button type="submit" class="btn btn-primary d-flex justify-content-center">Agregar +</button>
                </div>
            </div>

        </form>
    </div>
    <!-- Agrega el modal al final de la página, después de los enlaces a los scripts de Bootstrap y otros recursos -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error de validación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Por favor, complete todos los campos.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



@code {

}
