@page "/"
@inject NavigationManager NavigationManager

<Div class="d-flex gap-3 justify-content-xl-center justify-content-md-start align-items-center w-100 p-1 rounded-0" style="background-color:dimgray; border-top: 2mm ridge rgba(237, 169, 63, .6);">
    <img src="icon/balance2.png" style="height:1.5rem; width:auto;" class=" opacity-0" />
</Div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Marco Legal</h2>
    <form>
        <div class="row">
            <div class="col-12">
                <label for="MarcoLegalText" class="form-label">Por favor, verifique el marco Legal</label>
                <textarea class="form-control" id="MarcoLegalText" v-model="form.MarcoLegalText" rows="18" readonly></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Aceptar" :disabled="disableCheck.disabled" @bind="isChecked">
                    <label class="form-check-label" for="Aceptar">Manifiesto que he leído el Marco Legal</label>
                </div>
                <small id="msgError" class="text-danger">@msgError</small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="button" id="submitButton" class="btn btn-primary" @onclick="handleAccept">Enviar</button>
            </div>
        </div>
    </form>
</div>


@code {
    private string msgError = "";
    private bool isChecked = false;
    public void handleAccept()
    {
        if (checkData())
        {
            NavigationManager.NavigateTo($"Caratula");
        }
    }

    private bool checkData()
    {
        if (!isChecked)
        {
            msgError = "Por favor acepta que has leído el marco legal";
            return false;
        }
        else
        {
            msgError = "";
        }

        msgError = "";
        return true;
    }
}

