@page "/Libros"
@using Balances.DTO;
@using Balances.Web.Services.Implementation;
@using System.Text;
@inject ILibrosService serviceLibro;
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Libros</title>
    <!-- Agrega los enlaces a los estilos de Bootstrap y otros recursos que puedas necesitar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   

   <Navegacion/>

    <div class="container mt-2">
        <div class="card mx-auto">
            <div class="card-header" style="color: #0375bc; font-weight: bold; text-align: center;">
                Datos de Libros
            </div>
            <div class="card-body">
                <Libro libroP="modelo.Asamblea"></Libro>
                <Libro libroP="modelo.Administracion"></Libro>
                <Libro libroP="modelo.AsistenciaAsamblea"></Libro>
                <Libro libroP="modelo.Auditor"></Libro>
                <Libro libroP="modelo.Efectivo"></Libro>
                <Libro libroP="modelo.Fiscalizacion"></Libro>
                <Libro libroP="modelo.IVA"></Libro>
                <Libro libroP="modelo.IVACompras"></Libro>
                <Libro libroP="modelo.IVAVentas"></Libro>
                <Libro libroP="modelo.Resultados"></Libro>
                <Libro libroP="modelo.EstadosContablesConsolidados"></Libro>
                <Libro libroP="modelo.PatrimonioNeto"></Libro>
                <Libro libroP="modelo.SituacionPatrimonial"></Libro>
                <Libro libroP="modelo.Memoria"></Libro>
                <Libro libroP="modelo.Informacion"></Libro>
            </div>  
        </div>

        <div class="row mt-4">
            <div class="col d-flex justify-content-center w-100">
                <button type="button" class="btn btn-primary w-100" @onclick="() => insertLibros(modelo)">Enviar</button>
            </div>
        </div>
    </div>


</body>
</html>



@code {

    private LibrosDto modelo = new LibrosDto();

    protected override Task OnInitializedAsync()
    {
       Load();
        
        return base.OnInitializedAsync();
    }


    private async Task Load()
    {
        try
        {
            var idSession = await serviceLibro.getSession();

            if (idSession.IsSuccess)
            {
                var response = await serviceLibro.getBalance(idSession.Result);

                if (response.IsSuccess == true)
                {

                    try
                    {

                        if (response.Result.Libros != null)
                        {
                            getLibros(response.Result.Libros);
                            StateHasChanged();
                        }
                        else
                        {
                            Console.WriteLine("La propiedad Libros en la respuesta es nula.");
                        }

                    }
                    catch (Exception ex)
                    {

                        Console.WriteLine($"Hubo un problema con la solicitud fetch: {ex.Message}");
                    }
                }
            }
            else
            {
                Console.WriteLine($"No se ha encontrado el idSession");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"SessionId: Hubo un problema con la solicitud fetch: {ex.Message}");

        }

    }


    private void getLibros(LibrosDto libros)
    {
        this.modelo= libros;
    }

    private async Task<ResponseDTO<BalanceDto>> insertLibros(LibrosDto libros)
    {

        ResponseDTO<BalanceDto> respuesta = new();


        try
        {

             respuesta = await serviceLibro.insertLibros(libros);
           

           
        }
        catch (Exception ex)
        {
            respuesta.Message = ex.Message;
        }
        return respuesta;
    }

    private void cleanInputs()
    {
        // Restablecer los valores de los campos a su estado inicial o vacío
        modelo = new LibrosDto();
    }
  

   

}


    

