@page "/Libros/{balid?}"
@using Balances.DTO;
@using Balances.Model;
@using Balances.Utilities;
@using Balances.Web.Services.Contracts;
@using Balances.Web.Services.Implementation;
@using System.Text;
@using System.Reflection;
@inject ILibrosClientService serviceLibro;
@inject IBalanceClientService balanceService
@inject ISessionClientService sesionService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<Navegacion PaginaActiva="Libros" TramiteIniciado="true" balid="@balid"></Navegacion>


<div class="container">
    <div class="card">

        <div class="card-header" style="color: white; font-weight: bold; text-align: center; background-color:#15153D;">
            Datos de Libros
        </div>
        <div class="d-flex">
            <h5 class="card-header" style="width:33%">Asiento</h5>
            <h5 class="card-header" style="width:33%">Rubrica</h5>
            <h5 class="card-header" style="width:33%">Ultima registracion</h5>
        </div>
        <div class="card-body">
            <Libro libroP="modelo.Memoria" OnBlur="() => HandleChange(modelo.Memoria)"></Libro>
            <Libro libroP="modelo.Administracion" OnBlur="() => HandleChange(modelo.Administracion)"></Libro>
            <Libro libroP="modelo.Asamblea" OnBlur="() => HandleChange(modelo.Asamblea)"></Libro>
            <Libro libroP="modelo.SituacionPatrimonial" OnBlur="() => HandleChange(modelo.SituacionPatrimonial)"></Libro>
            <Libro libroP="modelo.Resultados" OnBlur="() => HandleChange(modelo.Resultados)"></Libro>
            <Libro libroP="modelo.PatrimonioNeto" OnBlur="() => HandleChange(modelo.PatrimonioNeto)"></Libro>
            <Libro libroP="modelo.Efectivo" OnBlur="() => HandleChange(modelo.Efectivo)"></Libro>
            <Libro libroP="modelo.Informacion" OnBlur="() => HandleChange(modelo.Informacion)"></Libro>
            <Libro libroP="modelo.EstadosContablesConsolidados" OnBlur="()=> HandleChange(modelo.EstadosContablesConsolidados)"></Libro>
            <Libro libroP="modelo.Fiscalizacion" OnBlur="() => HandleChange(modelo.Fiscalizacion)"></Libro>
            <Libro libroP="modelo.Auditor" OnBlur="() => HandleChange(modelo.Auditor)"></Libro>
            <Libro libroP="modelo.AsistenciaAsamblea" OnBlur="() => HandleChange(modelo.AsistenciaAsamblea)"></Libro>
            <Libro libroP="modelo.IVACompras" OnBlur="() => HandleChange(modelo.IVACompras)"></Libro>
            <Libro libroP="modelo.IVAVentas" OnBlur="()=> HandleChange(modelo.IVAVentas)"></Libro>

        </div>
    </div>


</div>






