<ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-item">
        <a class="nav-link" disabled href="/Caratula">Caratula</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/EstadoContable">Estado</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/Libros">Libros</a>
    </li>
    <li class="nav-item" active disabled>
        <a class="nav-link" href="/Contador">Contador</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/Autoridad">Autoridad</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/Integrante">Integrante</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/Archivos">Archivos</a>
    </li>
    <li class="nav-item" disabled>
        <a class="nav-link" href="/Confirmacion">Confirmación DJ</a>
    </li>
</ul>

@code {

}
