@using System.Reflection;
@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Entidad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />


    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/bootstrap/background.css" rel="stylesheet">

    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link href="~/css/bootstrap/background.css" rel="stylesheet">
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>


</head>

<body>
    <div class="d-flex flex-column " style="min-height:100vh;">
        <header class="d-flex  justify-content-around align-content-center text-white z-1 " style="background-color:#15153D; height:120px">

            <div>
                <img src="img/logo.png" class="img-fluid" style="height:100%; width:auto;" alt="Alternate Text" />
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <h4 >Presentación de Balances y Asamblea</h4>
            </div>

            <div>
                <img src="img/modificado.png" class="img-fluid mt-1" style="height:100px; width:100px;" alt="Alternate Text" />
            </div>

        </header>

            @if (NroCorrelativo != null)
            {
            <RadzenStack >
                <RadzenCard class="d-flex justify-content-center flex-row p-1 rounded-0" style="width:100%; background-color: #1b2a4a;">
                    <RadzenRow RowGap="4">
                        <RadzenRow>                  
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light  rz-mb-0">Correlativo</RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light"><b>@NroCorrelativo</b></RadzenText>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light   rz-mb-0">Fecha de Cierre</RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light"><b>@FechaDeCierre?.ToString("dd/MM/yyyy")</b></RadzenText>
                        </RadzenRow>
                        <RadzenRow>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light  rz-mb-0"></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light"><b>@RazonSocial &nbsp @TipoEntidad</b></RadzenText>
                        </RadzenRow>
                    </RadzenRow>

                </RadzenCard>
            </RadzenStack>
            }
            <RadzenStack class="flex-grow-1 rz-background-color-base-200 p-1">
                @Body
            </RadzenStack>

            <footer style="background-color:#121B3A;" class="w-100  d-flex justify-content-center mt-1 p-4 rounded-top-3">
                <img src="./img/logoFooter.png" style="width:300px; height:auto;" alt="Alternate Text" />
            </footer>
        

    </div>
</body>
</html>

@code{


    [Parameter] public static string? NroCorrelativo { get; set; }
    [Parameter] public  static string? TipoEntidad { get; set; }
    [Parameter] public  static string? RazonSocial { get; set; }
    [Parameter] public static DateTime? FechaDeCierre { get; set; }
}
