@using Balances.DTO;
@using Balances.Web.Pages;


<ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-primary active" aria-current="page" href="/Caratula">Caratula</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/EstadoContable">Estado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Libros">Libros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Contador">Contador</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Autoridad">Autoridad</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Integrante">Integrante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Archivos">Archivos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="/Confirmacion">Confirmación DJ</a>
    </li>
</ul>


@code {
  

}
